<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
	<form action="#" th:action="@{/updateCustomer}" th:object="${customer}" method="post">
		<table>
			<tr>
				<td>Email Address:</td>
				<td><input type="text" th:field="*{email}" th:value="${customer.email}"/></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" th:field="*{password}" th:value="${customer.password}"/></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
			</tr>
			<tr>
				<td>Repeat Password:</td>
				<td><input type="password" th:field="*{confPassword}" /></td>
				<td th:if="${#fields.hasErrors('confPassword')}" th:errors="*{confPassword}">Second Password Error</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td><input type="text" th:field="*{age}" th:value="${customer.age}"/></td>
				<td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age
					Error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td><td></td>
			</tr>

		</table>
	</form>
				<p>Age field: 20-29 -> DBA, 30-39 -> ADMIN, 40-60 -> USER </p>
</body>
</html>
